.container {
    margin: auto;
    /* As a general guideline, it’s a good idea to 
    preoptimize your image files by resizing them 
    to be no more than twice the maximum size they’ll 
    be rendered at. For example, if your layout is 
    600 pixels wide, then the highest resolution image 
    you will need is 1200 pixels (to account for 2x pixel density).
    960 x 2 = 1920 for 16:9 ratio */
    max-width: 960px;
    font-family: sans-serif;
  }
  
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
    text-decoration: none;
  }
  .nav-link-text:hover {
    color: purple;
    text-decoration: underline;
  }

  .site-title {
    font-size: 5rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }